<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @garden.city_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Street addr:</strong>
  <%= @garden.street_addr %>
</p>

<p>
  <strong>City:</strong>
  <%= @garden.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @garden.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @garden.zip %>
</p>

<p>
  <strong>Primary image:</strong>
  <%= @garden.primary_image %>
</p>

<p>
  <strong>Primary background:</strong>
  <%= @garden.primary_background %>
</p>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
