<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Street addr:</strong>
  <%= @garden.street_addr %>
</p>

<p>
  <strong>City:</strong>
  <%= @garden.street_addr_city %>
</p>

<p>
  <strong>State:</strong>
  <%= @garden.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @garden.zip %>
</p>





